# git config --global core.excludesfile ~/.gitignore_global

#  rename git.txt .gitignore
# Then in your git bash you have to write the following line:
#  git config --global core.excludesfile ~/.gitignore_global
# If the respository already exists then you have to do the following:
#  1)git rm -r --cached .
#  2)git add .
#  3)git commit -m ".gitignore is now working"

*.PrjPcbStructure
*__Previews*
*History*
*Project Logs*
*Status Report*
*.Dat
